* {
   box-sizing: border-box;
   margin:0;
   padding:0;
 }
 
 html {
   font-family:'Roboto', sans-serif;
   font-size:18px;
   color:rgb(44, 44, 44);
 }

 body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   background: #FDC830;   /*Fallback*/
   background: -webkit-linear-gradient(to top, #F37335, #FDC830); 
   background: linear-gradient(to top, #F37335, #FDC830);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }
 
 #container {
   width: 80%;
  }
  
  #headline {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:5.5rem;
    font-weight:300;
    line-height: 1.35;
    margin: 100px 0;
  }
  
  #top {
    margin: 0 0 100px;
  }


 #input-div {
    display: flex;
    justify-content: start;
    align-items: end;
  }
  
  #input {
   font-family: 'Roboto', sans-serif;
   font-size: 2.5rem;
   color:rgb(44, 44, 44);;
   padding: 10px;
   border-radius: 0px;
   border:none;
   height: 100px;
   width:60%;
   margin: 0 25px 25px 0;
 }

 ::placeholder{
   font-family: 'Roboto', sans-serif;
   font-size:2.5rem;
 }

 .btn {
    font-family:'Roboto', sans-serif;
    font-size:2.5rem;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid rgb(44, 44, 44);
    color:rgb(44, 44, 44);
    width: 200px;
 }

 .btn:hover{
    background:rgb(44, 44, 44);
    color: rgb(255, 255, 255);
 }
 
 #this-day {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 25px;
 }

 #this-day-head{
   font-family: 'Roboto Condensed', sans-serif;
   font-size:4.4rem;
   font-weight:700;
   margin-right: 25px;
 }
 
 #this-day-text {
   font-size:2.5rem;
   line-height: 1.5;
 }

 footer {
   text-align: center;
   width: 100%;
 }

 #attribution {
  text-decoration: none;
  color:white;
  font-size:0.8rem;
 }
 
 #copyright {
    font-size:1.5rem;
    margin: 20px;
 }

 
 